body, html {
  height: 100%;
  margin: 0;
}
.nav
{
  float: right;
  list-style-type: none;
  margin-top: 25px;
  margin-right: 25px;
}
.sic li
{
  list-style: none;
}
.sic li a 
{
  text-decoration: none;
  /*color: #999;
  margin-right: 30px;
  font-size: 0.9em;*/
}
/*.sic li a:hover
{
  color: #fff;
  transition: 0.3s ease;
}*/
.sic li a img 
{
  transform: scale(0.5);
  filter: invert(1);
}
.nav
{
  float: right;
  margin-top: 25px;
  margin-right: 25px;
  display: flex;
  animation: fade-in 0.5s ease-in forwards; 
  animation-delay: 0s;
  opacity: 0; 
}
.nav li
{
  list-style: none;
}
.nav li a 
{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  margin: 4px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 12px;
  transition: 0.6s ease;
}

.nav a:hover
{
  background-color: #fff;
  color: #000;
}
.nav .active a
{
  background-color: #fff;
  color: #000;
}

.nav li a.active,
.nav li a:hover
{
  transition: 0.3s ease;
}
.nav li a.active,
.nav li a:hover
{
  color: #347cff;
  transition: 0.3s ease;
}
@keyframes fade-in
{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}
@keyframes left-in
{
  0%
  {
    transform: translate(-200px);
    opacity: 0;
  }
  100%
  {
    transform: translate(0px);
    opacity: 1;
  }
}
@media (max-width: 991px)
{
  .menuicon
  {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 30px;
    height: 30px;
    background: url(menu.png);
    filter: invert(1);
    background-size: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    z-index: 1000; 
  }
  .menuicon.active 
  {
    background: url(cls.png);
    filter: invert(1);
    background-size: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    z-index: 1000; 
  }

  .nav
  {
    position: fixed;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    background: rgba(0.0.0.95);
    flex-direction: column;
    z-index: 11;
    border: none;
    padding: 50px;
  }
    .nav
  {
    margin-top: 0;
  }
  .nav.active
  {
    left: 0;
  }
  .nav li 
  {
    margin: 10px 0;
  }
  section 
    {
      flex-direction: column-reverse;
      justify-content: center;
    }
    
    .sic
    {
      left: 20px;
      bottom: 8px;
    }
    .logo
    {
      margin-top: 18px;
    }
}
.bgimg {
  background-image: url('wallhaven.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "century Gothic";

}
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
  font-size: 20px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}
#footer {
    background-color: black;
    /*background-image: url(wallhaven.jpg);*/
    padding: 40px;
    color: white;
    opacity: 95%;
    border: 1px solid transparent;
    text-align: left;
    margin: auto;
    user-select: none;
    font-family: "century Gothic";

}
.footer
{
  float: right;
  display: flex;
  font-size: 9px;
  word-break: break-all;
}
.footer li 
{
  list-style: none;
  margin: 8px;
  color: white;
}
.footer li a
{
  list-style: none;
  /*margin: 3px;*/
  color: white;
  text-decoration: none;
}
